@import "../../assets/styles/setup/mixins.scss";
@import "../../assets/styles/setup/variables.scss";

.modalOverlay {
  @include modal-overlay;

  .modal {
    @include modal-content;

    .modalHeader {
      @include flex-container(row, space-between, center, 0px);

      padding: 12px 16px;
      border-bottom: 1px solid #dbdbdb;
      background: #f8f8f8;

      .closeButton,
      .shareButton {
        background: none;
        border: none;
        font-weight: bold;
        cursor: pointer;
      }

      h1 {
        font-size: 16px;
        margin: 0;
      }
    }
  }

  main {
    display: flex;
    width: 100%;
    height: 100%;

    .uploadSection {
      width: 60%;
      border-right: 1px solid grey;
      @include flex-container(column, center, center, 0px);

      .imagePreview {
        display: block;
        max-width: 100%;
        max-height: 300px;
        margin-top: 12px;
        border-radius: 8px;

        &.grayscale {
          filter: grayscale(100%);
        }
      
        &.sepia {
          filter: sepia(100%);
        }
      
        &.invert {
          filter: invert(100%);
        }
      
        &.brightness {
          filter: brightness(150%);
        }
      
        &.contrast {
          filter: contrast(200%);
        }
      
        &.saturate {
          filter: saturate(200%);
        }
      
        &.blur {
          filter: blur(5px);
        }
      
        &.hueRotate {
          filter: hue-rotate(90deg);
        }
      
        &.opacity {
          filter: opacity(50%);
        }
      
        &.dropShadow {
          filter: drop-shadow(16px 16px 10px gray);
        }
      }
    }
    .modalContent {
      padding: 16px;

      .userInfo {
        @include flex-container(row, start, center, 0px);

        margin-bottom: 12px;

        .avatar {
          background: #dbdbdb;
          border-radius: 50%;
          width: 32px;
          height: 32px;
          margin-right: 8px;
        }

        .username {
          font-weight: bold;
        }
      }

      .captionInput {
        width: 100%;
        border: none;
        resize: none;
        font-family: inherit;
        font-size: 14px;
        height: 100px;
        margin-bottom: 12px;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
