// ProfilePage.module.scss
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
@import "../../assets/styles/setup/mixins.scss";
@import "../../assets/styles/setup/variables.scss";

.profilePage {
  width: 100%;
  padding: 0 15%;

  header {
    padding: 30px;
    border-bottom: 1px solid #dbdbdb;
    width: 100%;
    @include flex-container(row, center, center, 20px);

    :first-child {
      @include flex-container(row, center, center, 0px);

      img {
        border-radius: 50%;
        border: 2px solid black;
        padding: 2px;
        height: 120px;
        width: 120px;
        margin-right: 30px;
      }
    }

    .rightHeader {
      @include flex-container(column, start, flex-start, 30px);

      p {
        margin: 0;
        font-weight: 600;
        font-size: 20px;
        color: black;
      }

      .userInfo {
        @include flex-container(row, start, flex-start, 45px);

        div {
          margin-right: 40px;

          p {
            font-size: 16px;
            color: $grey-black;
            margin: 0;
            text-align: center;
          }

          p:first-child {
            font-weight: 600;
            color: $grey-black;
          }
        }
      }
    }
  }
  section {
    @include flex-container(row, center, flex-start, 0px);
    margin-bottom: 30px;
    button {
      background: none;
      border: none;
      font-size: 14px;
      font-weight: 600;
      color: $grey-black;

      @include flex-container(row, start, center, 7px);

      padding: 8px 30px;
      cursor: pointer;

      &:focus {
        border-top: 1px solid black;
      }

      .faTableCells,
      .faBookmark,
      .faUser {
        margin-right: 8px;
      }
    }
  }

  .gridContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);  
    grid-auto-rows: 1fr;
    gap: 10px;

  }
  
  @media (min-width: 600px) {
    .gridContainer {
      grid-template-columns: repeat(2, 1fr);  
    }
  }
  
  @media (min-width: 900px) {
    .gridContainer {
      grid-template-columns: repeat(3, 1fr);  
    }
  }
  
  @media (min-width: 1200px) {
    .gridContainer {
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  


}
