@import "../../assets/styles/setup/mixins.scss";
@import "../../assets/styles/setup/variables.scss";

.modalOverlay {
  @include modal-overlay;

  .modalContent {
    @include modal-content;
    display: flex;

    .modalClose {
      position: absolute;
      top: 10px;
      right: 10px;
      border: none;
      background: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: #fff;
    }

    img {
      height: 100%;
      object-fit: cover;
      width: 60%;
    }

    .rightSide {
      width: 100%;
      display: flex;
      flex-direction: column;

      img {
        width: 37px;
        height: 37px;
        border-radius: 50%;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 15px;
        border-bottom: 1px solid grey;
        padding: 10px;
        p {
          font-weight: bold;
        }
      }

      li {
        list-style: none;
        @include flex-container(row, start, center, 15px);
        padding: 10px;

        .username {
          font-weight: bold;
        }
      }

      .footer {
        margin-top: auto;
        display: flex;
        flex-direction: column;

        > :first-child {
          border-top: 1px solid grey;
          border-bottom: 1px solid grey;
          padding: 10px;
        }

        input {
          padding: 20px;
        }
      }
    }
  }
}
